*.csv filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
ml/data/ml-32m/ratings.csv filter=lfs diff=lfs merge=lfs -text
ml/data/ml-32m/tags.csv filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
ml/api/app/models/mf_ml32m.pth filter=lfs diff=lfs merge=lfs -text
